
<div class="main p-5">
    <h2 class="text-center">Doctor Patients</h2>
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <div class="d-flex align-items-center justify-content-center gap-2 flex-column">
            <img src="../../assets/doctor.png" class="w-75 m-auto">
            <p class="subtitle text-center">a simple web responsive application which will allow a doctor to maintain his patients list and be able to add, update and delete them.</p>
        <button type="submit" class="btn btn-outline-light" (click)="getStart()">Get Started</button>
        </div>
    </div>
   
</div>

