<div class="container">
    <h3>Update Patient</h3>

    <a href="#" routerLink="/doctor" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group"> 
            <input
                formControlName="id"
                id="id"
                type="hidden"
                
                class="form-control">
            <div *ngIf="f['id'].touched && f['id'].invalid" class="alert alert-danger">
                <div *ngIf="f['id'].errors && f['id'].errors['required']">id is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="pasNumber">pasNumber:</label>
            <input
                formControlName="pasNumber"
                id="pasNumber"
                type="text"
                class="form-control">
            <div *ngIf="f['pasNumber'].touched && f['pasNumber'].invalid" class="alert alert-danger">
                <div *ngIf="f['pasNumber'].errors && f['pasNumber'].errors['required']">pasNumber is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="forenames">forenames</label>
            <input
                formControlName="forenames"
                id="forenames"
                type="text"
                class="form-control">
            <div *ngIf="f['forenames'].touched && f['forenames'].invalid" class="alert alert-danger">
                <div *ngIf="f['forenames'].errors && f['forenames'].errors['forenames']">forenames is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="surname">surname</label>
            <input
                formControlName="surname"
                id="surname"
                type="text"
                class="form-control">
            <div *ngIf="f['surname'].touched && f['surname'].invalid" class="alert alert-danger">
                <div *ngIf="f['surname'].errors && f['surname'].errors['surname']">surname is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="dateOfBirth">dateOfBirth:</label>
            <input
                formControlName="dateOfBirth"
                id="dateOfBirth"
                type="date"
                class="form-control">
            <div *ngIf="f['dateOfBirth'].touched && f['dateOfBirth'].invalid" class="alert alert-danger">
                <div *ngIf="f['dateOfBirth'].errors && f['dateOfBirth'].errors['required']">dateOfBirth is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="sexCode">sexCode</label>
            <input
                formControlName="sexCode"
                id="sexCode"
                type="text"
                class="form-control">
            <div *ngIf="f['sexCode'].touched && f['sexCode'].invalid" class="alert alert-danger">
                <div *ngIf="f['sexCode'].errors && f['sexCode'].errors['sexCode']">sexCode is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="homeTelephoneNumber">homeTelephoneNumber</label>
            <input
                formControlName="homeTelephoneNumber"
                id="homeTelephoneNumber"
                type="text"
                class="form-control">
            <div *ngIf="f['homeTelephoneNumber'].touched && f['homeTelephoneNumber'].invalid" class="alert alert-danger">
                <div *ngIf="f['homeTelephoneNumber'].errors && f['homeTelephoneNumber'].errors['homeTelephoneNumber']">homeTelephoneNumber is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="nokName">nokName</label>
            <input
                formControlName="nokName"
                id="nokName"
                type="text"
                class="form-control">
            <div *ngIf="f['nokName'].touched && f['nokName'].invalid" class="alert alert-danger">
                <div *ngIf="f['nokName'].errors && f['nokName'].errors['nokName']">nokName is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="nokRelationshipCode">nokRelationshipCode</label>
            <input
                formControlName="nokRelationshipCode"
                id="nokRelationshipCode"
                type="text"
                class="form-control">
            <div *ngIf="f['nokRelationshipCode'].touched && f['nokRelationshipCode'].invalid" class="alert alert-danger">
                <div *ngIf="f['nokRelationshipCode'].errors && f['nokRelationshipCode'].errors['nokRelationshipCode']">nokName is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="nokAddressLine1">nokAddressLine1</label>
            <input
                formControlName="nokAddressLine1"
                id="nokAddressLine1"
                type="text"
                class="form-control">
            <div *ngIf="f['nokAddressLine1'].touched && f['nokAddressLine1'].invalid" class="alert alert-danger">
                <div *ngIf="f['nokAddressLine1'].errors && f['nokAddressLine1'].errors['nokAddressLine1']">nokAddressLine1 is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="nokAddressLine2">nokAddressLine2</label>
            <input
                formControlName="nokAddressLine2"
                id="nokAddressLine2"
                type="text"
                class="form-control">
            <div *ngIf="f['nokAddressLine2'].touched && f['nokAddressLine2'].invalid" class="alert alert-danger">
                <div *ngIf="f['nokAddressLine2'].errors && f['nokAddressLine2'].errors['nokAddressLine2']">nokAddressLine2 is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="nokAddressLine3">nokAddressLine3</label>
            <input
                formControlName="nokAddressLine3"
                id="nokAddressLine3"
                type="text"
                class="form-control">
            <div *ngIf="f['nokAddressLine3'].touched && f['nokAddressLine3'].invalid" class="alert alert-danger">
                <div *ngIf="f['nokAddressLine3'].errors && f['nokAddressLine3'].errors['nokAddressLine3']">nokAddressLine3 is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="nokAddressLine1">nokAddressLine4</label>
            <input
                formControlName="nokAddressLine4"
                id="nokAddressLine4"
                type="text"
                class="form-control">
            <div *ngIf="f['nokAddressLine4'].touched && f['nokAddressLine4'].invalid" class="alert alert-danger">
                <div *ngIf="f['nokAddressLine4'].errors && f['nokAddressLine4'].errors['nokAddressLine4']">nokAddressLine4 is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="nokPostcode">nokPostcode</label>
            <input
                formControlName="nokPostcode"
                id="nokPostcode"
                type="text"
                class="form-control">
            <div *ngIf="f['nokPostcode'].touched && f['nokPostcode'].invalid" class="alert alert-danger">
                <div *ngIf="f['nokPostcode'].errors && f['nokPostcode'].errors['nokPostcode']">nokPostcode is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="gpCode">gpCode</label>
            <input
                formControlName="gpCode"
                id="gpCode"
                type="text"
                class="form-control">
            <div *ngIf="f['gpCode'].touched && f['gpCode'].invalid" class="alert alert-danger">
                <div *ngIf="f['gpCode'].errors && f['gpCode'].errors['gpCode']">gpCode is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="gpSurname">gpSurname</label>
            <input
                formControlName="gpSurname"
                id="gpSurname"
                type="text"
                class="form-control">
            <div *ngIf="f['gpSurname'].touched && f['gpSurname'].invalid" class="alert alert-danger">
                <div *ngIf="f['gpSurname'].errors && f['gpSurname'].errors['gpSurname']">gpSurname is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="gpInitials">gpInitials</label>
            <input
                formControlName="gpInitials"
                id="gpInitials"
                type="text"
                class="form-control">
            <div *ngIf="f['gpInitials'].touched && f['gpInitials'].invalid" class="alert alert-danger">
                <div *ngIf="f['gpInitials'].errors && f['gpInitials'].errors['gpInitials']">gpSurname is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="gpPhone">gpPhone</label>
            <input
                formControlName="gpPhone"
                id="gpPhone"
                type="text"
                class="form-control">
            <div *ngIf="f['gpPhone'].touched && f['gpPhone'].invalid" class="alert alert-danger">
                <div *ngIf="f['gpPhone'].errors && f['gpPhone'].errors['gpPhone']">gpPhone is required.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>
