<div class="container">  
    <a href="#" routerLink="/patients" class="btn btn-primary">Back</a>
    <h3>Patient Data</h3>
    <div>
        <strong>ID:</strong>
        <p>{{ patient.id }}</p>
    </div>
   
    <div>
        <strong>pas Number:</strong>
        <p>{{ patient.pasNumber }}</p>
    </div>
    <div>
        <strong>surname:</strong>
        <p>{{ patient.surname }}</p>
    </div>
    <div>
        <strong>fore names:</strong>
        <p>{{ patient.forenames }}</p>
    </div>

    <div>
        <strong>fore dateOfBirth:</strong>
        <p>{{ patient.dateOfBirth }}</p>
    </div>
    <div>
        <strong>fore sexCode:</strong>
        <p>{{ patient.sexCode }}</p>
    </div>
    <div>
        <strong>fore homeTelephoneNumber:</strong>
        <p>{{ patient.homeTelephoneNumber }}</p>
    </div>
    <br/>
    <h3> nok Data</h3>
    <div>
        <strong>Name:</strong>
        <p>{{ patient.nokName }}</p>
    </div>
    <div>
        <strong>nokRelationshipCode:</strong>
        <p>{{ patient.nokRelationshipCode }}</p>
    </div>
    <div>
        <strong> nokAddressLine1:</strong>
        <p>{{ patient.nokAddressLine1 }}</p>
    </div>
    <div>
        <strong> nokAddressLine2:</strong>
        <p>{{ patient.nokAddressLine2 }}</p>
    </div>
    <div>
        <strong> nokAddressLine2:</strong>
        <p>{{ patient.nokAddressLine2 }}</p>
    </div>
    <div>
        <strong> nokAddressLine3:</strong>
        <p>{{ patient.nokAddressLine3 }}</p>
    </div>
    <div>
        <strong> nokAddressLine4:</strong>
        <p>{{ patient.nokAddressLine4 }}</p>
    </div>
    <div>
        <strong>nokPostcode:</strong>
        <p>{{ patient.nokPostcode }}</p>
    </div>
    <br/>
    <h3>GP Data</h3>
    <div>
        <strong>Code:</strong>
        <p>{{ patient.gpCode }}</p>
    </div>
    <div>
        <strong>Surname:</strong>
        <p>{{ patient.gpSurname }}</p>
    </div>
    <div>
        <strong>Initials:</strong>
        <p>{{ patient.gpInitials }}</p>
    </div>
    <div>
        <strong>Phone:</strong>
        <p>{{ patient.gpPhone }}</p>
    </div>
    
</div>